* {
    margin: 0;
    padding: 0;
}
div.nav {
    background-color: antiquewhite;
    border-bottom: 1px solid #ccc ;
}
div.nav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}
div.nav a.logo {
    display: inline-block;
    font-size: 120%;
}